---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';

const images = [
  {
    id: 'tabs-1-tab-1',
    src: '/product-photo.webp',
    alt: '',
    description: 'Angled view'
  },
  /* {
    id: 'tabs-1-tab-2',
    src: '/product-photo-2.jpeg',
    alt: '',
    description: 'Front view'
  } */
  // Add more images as needed
];

const features = [
  'Adaptive Temperature Control',
  'Breathable and Lightweight',
  'Eco-Friendly Materials',
  'Multiple Pockets with Secure Zippers',
  'Ergonomic Design for Maximum Comfort',
  'Integrated Hood with Adjustable Drawstrings',
];

const title = "Snoozier Adaptive Weather Hoodie";

const description = `
The Snoozier Adaptive Weather Hoodie is your ultimate companion for any adventure. Designed for young adults leading active lifestyles, this innovative hoodie adjusts to changing weather conditions, keeping you comfortable all day long. Whether you're hiking through the Amazon rainforest or exploring urban landscapes, Snoozier's advanced features ensure you stay cool when it's warm and warm when it's cool. Made from eco-friendly materials, it combines style, functionality, and sustainability. Embrace the future of adaptable fashion with Snoozier.
`;
---

<script>
  import { loadingScreen } from '../scripts/animations/loadingScreen';

	loadingScreen();
</script>

<Layout title="Shop">
  <Header />
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <div class="lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8">
      <!-- Image gallery -->
      <div class="flex flex-col-reverse lg:sticky top-24">
        <!-- Image selector -->
        <div class="mx-auto mt-6 hidden w-full max-w-2xl sm:block lg:max-w-none">
          <div class="grid grid-cols-4 gap-6" aria-orientation="horizontal" role="tablist">
            {images.map(image => (
              <button
                id={image.id}
                class="relative flex h-24 cursor-pointer items-center justify-center rounded-md bg-white text-sm font-medium uppercase text-gray-900 hover:bg-gray-50 focus:outline-none focus:ring focus:ring-opacity-50 focus:ring-offset-4"
                aria-controls={image.id}
                role="tab"
                type="button">
                <span class="sr-only">{image.description}</span>
                <span class="absolute inset-0 overflow-hidden rounded-md">
                  <img src={image.src} alt="" class="h-full w-full object-cover object-center" />
                </span>
                <span class="pointer-events-none absolute inset-0 rounded-md ring-2 ring-transparent ring-offset-2" aria-hidden="true"></span>
              </button>
            ))}
          </div>
        </div>

        <div class="aspect-h-1 aspect-w-1 w-full">
          {images.map(image => (
            <div id={image.id} aria-labelledby={image.id} role="tabpanel" tabindex="0">
              <img src={image.src} alt={image.alt} class="h-full w-full object-cover object-center sm:rounded-lg" />
            </div>
          ))}
        </div>
      </div>

      <!-- Product info -->
      <div class="mt-10 px-4 sm:mt-16 sm:px-0 lg:mt-0">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">{title}</h1>
        <p class="text-2xl mt-3 tracking-tight text-gray-900">$75</p>

        <div class="mt-6">
          <h3 class="sr-only">Description</h3>

          <div class="space-y-6 text-base text-gray-700">
            <p>{description}</p>
          </div>
        </div>

        <div class="mt-10 flex">
          <button type="submit" class="flex max-w-xs flex-1 items-center justify-center border border-transparent bg-white py-3 rounded-xl hover:scale-105 transition-all duration-300 active:scale-95">Add to bag</button>
        </div>

        <section aria-labelledby="details-heading" class="mt-12">
          <h2 id="details-heading" class="sr-only">Additional details</h2>

          <h3>
            <button type="button" class="flex w-full items-center justify-between py-6 text-left text-2xl font-semibold">
              Features
            </button>
          </h3>
          <div class="prose prose-sm pb-6" id="disclosure-1">
            <ul class="gap-2 flex flex-col" role="list">
              {features.map(feature => (
                <li class="flex items-center gap-1">
                  <span>
                    <svg class="h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                  </span>
                  {feature}
                </li>
              ))}
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
</Layout>